@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
    color: #000;
}
.container {
    max-width: 1100px;
    margin: 0  auto;
}
.header {
    background-color: #cecece;
    padding-bottom: 32px;
}
.headerMenu {
    height: 40px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    padding-top: 32px;
    margin-bottom: 32px;
}
.menuLinks {
    text-decoration: none;
}
.h1_header {
    font-size: 32px;
    color: #1F3F68;
    text-align: center;
    display: block;
}
.auth {

}
.photogallery {
    min-height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.photogallery_large {
    display: flex;
    box-sizing: border-box;
    flex-direction: column-reverse;
    justify-content: center;
}
.item {
    padding: 12px 12px;
}
.item_large {
    max-width: 800px;
}
.large_photo {
    object-fit: contain;
}
.h1_gallery {
    font-size: 24px;
    color: blue;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 16px;
}
.catalog {
    padding: 40px 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.productList {
    padding-left: 16px;
}
.product {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 30%;
    justify-content: space-around;

}
.productName {
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
}
.productPicPreveiw {
    margin-left: auto;
    margin-right: auto
}
.productShortDesc {
    text-align: justify;
    padding-top: 12px;
    padding-bottom: 12px;
}
.productPrice {
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    color: red;
}
.report {
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 24px 32px;
}
.username {
    width: 10%;
    background: grey;
    margin: 5px;
}
.reportText {
    width: 80%;
    margin: 5px;
}
.data {
    width: 10%;
    margin: 5px;
}
.writeReport {
    justify-content: center;
}
.submitForm {
    margin: 24px auto;
}
.cart {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    margin-bottom: 32px;
}
.orderPic {
    padding: 24px;
}
.orderCount {
    padding: 24px;
}
.orderPrice {
    padding: 24px;
}
.footer {
    margin-top: 64px;
}
